name: get_x
description: "A new Flutter project."
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter
  acta:
    path: ../acta
  cupertino_icons: ^1.0.8
  get: ^4.7.2
  package_info_plus: 9.0.0 
  device_info_plus: 12.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
