name: very_good
description: Very good
version: 1.0.0+1
publish_to: none

environment:
  sdk: ^3.5.0

dependencies:
  # acta:
  #   path: ../acta
  acta: ^0.0.3
  bloc: ^8.1.4
  flutter:
    sdk: flutter
  flutter_bloc: ^8.1.6
  flutter_localizations:
    sdk: flutter
  intl: ^0.20.2
  go_router: ^16.2.1
  package_info_plus: 9.0.0 
  device_info_plus: 12.1.0


dev_dependencies:
  bloc_test: ^9.1.7
  flutter_test:
    sdk: flutter
  mocktail: ^1.0.4
  very_good_analysis: ^6.0.0

flutter:
  uses-material-design: true
  generate: true
